@charset "utf-8";

.earths_news {
  position: relative;
  /* padding: 100px 0; */
  /* flex-wrap: wrap; */
  margin-bottom: 100px;
  scroll-margin-top: 140px;
}

.earths_news h1 {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  font-family: "Paperozi";
  font-size: var(--text--heading--h1);
  font-weight: 600;
  color: var(--color--font--black);
}

.earths_news_inner {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
}

.earths_news h2 {
  font-family: "Paperozi";
  font-weight: 600;
  font-size: var(--text--heading--h2);
  color: var(--color--font--black);
  white-space: nowrap;
}
.news > a,
.sign_top > a {
  font-family: "Paperozi";
  font-size: var(--text--body--small);
  font-weight: 400;
  color: var(--color--main);
  text-decoration: underline var(--color--main);
  text-underline-offset: 5px;
  white-space: nowrap;
}

/* 소식 */
.news {
  display: flex;
  justify-content: space-between;
  width: 55%;
  max-width: 730px;
  /* background-color: blue; */
}
.news_contents {
  width: 70%;
  max-width: 730px;
  /* min-width: 250px; */
  /* margin: 100px auto; */
  /* background-color: aquamarine; */
}
.news_contents > li {
  position: relative;
}
.news_contents > li > p {
  display: block;
  width: 110px;
  line-height: 45px;
  text-align: center;
  border-radius: 50px;
  font-family: "Paperozi";
  font-size: var(--text--body--regular);
  font-weight: 400;
  color: var(--color--font--sub);
  /* background-color: aliceblue; */
}
.news_contents > li.active > p {
  background-color: var(--color--main);
  color: #fff;
}
.news_contents > li:first-child > p {
  position: absolute;
  left: 0;
}
.news_contents > li:nth-child(2) > p {
  position: absolute;
  left: 115px;
}
.news_contents > li:nth-child(3) > p {
  position: absolute;
  left: 230px;
}
.news_contents > li > div {
  position: absolute;
  top: 75px;
  left: -20.7%;
  width: 145.9%;
  display: none;
  /* background-color: antiquewhite; */
}
.news_desc {
  width: 100%;
}
.news_desc ul li {
  width: 100%;
  padding: 25px;
  border-top: 1px solid #ebebeb;
}
.news_desc ul li:last-child {
  border-bottom: 1px solid var(--color--font--sub);
}
.news_desc ul li p:first-child {
  margin-bottom: 10px;
  font-family: "Pretendard";
  font-size: var(--text--body--regular);
  font-weight: 500;
  color: var(--color--font--black);
  /* 말줄임 */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 90%;
}
.news_desc ul li p:last-child {
  font-family: "Paperozi";
  font-size: var(--text--body--small);
  font-weight: 400;
  color: var(--color--font--sub);
}
.news_contents > li.active > div {
  display: block;
}

/* 서명하기 */
.sign {
  width: 45%;
  max-width: 730px;
  /* height: 100%; */
  padding-left: 100px;
  /* background-color: aquamarine; */
}
.sign_top {
  display: flex;
  justify-content: space-between;
}
.sign_top h2 {
  margin-bottom: 25px;
}
.sign_desc p {
  margin-bottom: 30px;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: var(--text--body--regular);
  color: var(--color--font--black);
}
.sign_swiper {
  width: 60%;
  min-width: 350px;
  height: 416px;
  /* background-color: red; */
  margin: 0 !important;
}
.sign_swiper .swiper-slide {
  width: 100% !important;
  min-width: 300px;
  /* height: 90px !important; */
  padding: 20px;
  background-color: var(--color--main);
  border-radius: 20px;
  /* float: left; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 7px; */
}
.sign_swiper .swiper-slide p {
  font-family: "Pretendard";
  font-weight: 500;
  color: #fff;
}
.sign_swiper .swiper-slide p:first-child {
  font-size: var(--text--body--small);
  /* margin-bottom: 15px; */
}
.sign_swiper .swiper-slide p:nth-child(2) {
  font-size: var(--text--body--regular);
}
.sign_swiper .swiper-slide p:last-child {
  font-family: "Paperozi";
  font-size: 13px;
  font-weight: 400;
  text-align: end;
}
/* 서명하기 입력창 */
.sign_input {
  position: relative;
  margin-top: 30px;
}
.sign_input input {
  width: 85%;
  padding: 12px 20px;
  border: none;
  border-radius: 36px;
  background-color: #ebebeb;
  color: #999999;
  font-family: "Pretendard";
  font-weight: 500;
  font-size: var(--text--body--regular);
}
.sign_input input:focus {
  outline: none;
}
.sign_input button {
  position: absolute;
  top: -1px;
  right: -0px;
  padding: 12px 30px;
  border: none;
  border-radius: 36px;
  background-color: var(--color--main);
  color: #fff;
  font-family: "Pretendard";
  font-weight: 500;
  font-size: var(--text--body--regular);
  cursor: pointer;
}

/* 반응형 */
@media screen and (max-width: 768px) {
  /* .earths_news {
margin: auto;
} */
  .earths_news_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 655px;
    width: 100% !important;
    margin: auto !important;
    padding: 0 40px;
  }
  .earths_news_inner h1 {
    /* margin: auto;  */
    text-align: center;
  }
  /* 소식 */
  .news {
    /* width: 80%; */
    width: 100%;
    /* background-color: beige; */
  }
  /* .news h2 {
    margin-right: 30px;
  } */
  /* 서명하기 */
  .sign {
    /* width: 80%; */
    width: 100%;
    padding: 0;
    /* background-color: coral; */
  }
}
@media screen and (max-width: 390px) {
  .earths_news h1 {
    /* margin: auto;  */
    text-align: center;
    font-size: 36px;
  }

  .earths_news_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 600px;
    /* width: 100% !important; */
    margin: auto !important;
    padding: 0 20px;
  }
  .earths_news h2 {
    font-size: 28px;
  }
  .news > a,
  .sign_top > a {
    font-size: 12px;
  }
  /* 소식 */
  .news {
    width: 98%;
    /* background-color: beige; */
  }
  /* .news h2 {
    margin-right: 5px;
  } */
  .news_contents {
    width: 100% !important;
    max-width: 230px;
  }
  .news_contents > li > p {
    font-size: 15px;
    width: 75px;
    line-height: 32px;
  }
  .news_contents > li:nth-child(2) > p {
    position: absolute;
    left: 75px;
  }
  .news_contents > li:nth-child(3) > p {
    position: absolute;
    left: 150px;
  }
  .news_contents > li > div {
    left: -20.7%;
    /* background-color: antiquewhite; */
  }
  .news_desc ul li {
    width: 100%;
    padding: 25px 0;
  }
  .news_desc ul li p:first-child {
    font-size: 16px;
  }
  .news_desc ul li p:last-child {
    font-size: 12px;
  }
  /* 서명하기 */
  .sign {
    /* width: 80%; */
    width: 100%;
    padding: 0;
    /* background-color: coral; */
  }
  .sign_desc p {
    font-size: 16px;
  }
  .sign_swiper .swiper-slide p:first-child {
    font-size: 13px;
    /* margin-bottom: 15px; */
  }
  .sign_swiper .swiper-slide p:nth-child(2) {
    font-size: 18px;
  }
  .sign_swiper .swiper-slide p:last-child {
    font-family: "Paperozi";
    font-size: 13px;
    font-weight: 400;
    text-align: end;
  }
  .sign_input input {
    font-size: 15px;
    max-width: 350px;
  }
  .sign_input button {
    right: 0;
    font-size: 15px;
  }
}
