@charset "utf-8";
.earths_voice {
  background-color: #000;
}
/* 타이틀 */
.earths_voice_inner h1 {
  text-align: center;
  font-family: "Paperozi";
  font-size: var(--text--heading--h1);
  font-weight: 600;
  color: #fff;
  padding: var(--spacing--large) 0;
}
/* 스와이퍼 */
.earths_voice_swiper {
  display: flex;
  gap: 10px;
  margin: auto;
  padding-bottom: var(--spacing--large);
  width: 100%;
  max-width: 1320px;
  height: 600px;
}
.earths_voice_swiper_box {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  flex: 1;
  transition: 0.5s;
  cursor: pointer;
}
/* 이미지 그라데이션 */
.earths_voice_swiper_box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0)
  );
  pointer-events: none;
  z-index: 1;
}
.earths_voice_swiper_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.earths_voice_swiper_cont {
  position: absolute;
  bottom: 17px;
  left: 13px;
  display: flex;
  align-items: end;
  color: white;
  gap: 15px;
}
/* 아이콘 */
.earths_voice_swiper_cont i {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 18px;
  z-index: 2;
}
.earths_voice_swiper_box:not(.active) .earths_voice_swiper_text {
  opacity: 0;
  transition: 0.3s;
}
.earths_voice_swiper_box:first-child .earths_voice_swiper_cont i {
  color: #2ecc71;
}
.earths_voice_swiper_box:nth-child(2) .earths_voice_swiper_cont i {
  color: #5d9cec;
}
.earths_voice_swiper_box:nth-child(3) .earths_voice_swiper_cont i {
  color: #7fe1f0;
}
.earths_voice_swiper_box:nth-child(4) .earths_voice_swiper_cont i {
  color: #99cf8f;
}
.earths_voice_swiper_box:nth-child(5) .earths_voice_swiper_cont i {
  color: #ed5565;
}
.earths_voice_swiper_box.active {
  flex: 10;
}
/* text */
.earths_voice_swiper_text h3 {
  position: relative;
  font-family: "Pretendard";
  font-size: var(--text--body--regular);
  font-weight: 600;
  color: #fff;
  z-index: 2;
}
.earths_voice_swiper_text span {
  position: relative;
  font-family: "Pretendard";
  font-size: var(--text--body--small);
  color: #fff;
  z-index: 2;
}

/* 반응형 */
/* @media (max-width: 1280px) {
  .earths_voice_swiper {
    max-width: 1280px;
  }
}
@media (max-width: 768px) {
  .earths_voice_swiper {
    max-width: 768px;
  }
}
@media (max-width: 390px) {
  .earths_voice_swiper {
    max-width: 390px;
  }
} */
