@charset "utf-8";
.earths_protector {
  scroll-margin-top: 60px;
  background-color: aliceblue;
}
.earths_protector_inner {
  position: relative;
  margin: auto;
  padding-bottom: var(--spacing--large);
}
/* 타이틀 */
.earths_protector_inner h1 {
  text-align: center;
  font-family: "Paperozi";
  font-size: var(--text--heading--h1);
  font-weight: 600;
  color: var(--color--font--black);
  padding: var(--spacing--large) 0;
}
/* 스와이퍼 */
.earths_protector_swiper .swiper-slide,
.earths_protector_swiper_mo .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5% 5% 5%;
  background-position: center;
  background-size: cover;
  /* aspect-ratio: 1/1; */
  overflow: hidden;
  transition: all 0.3s;
  background-color: aliceblue;
  /* margin-right: 0 !important; */
}
.swiper_img {
  position: relative;
  width: 80%;
}
.earths_protector_swiper .swiper-slide img,
.earths_protector_swiper_mo .swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  transition: all 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}
/* 텍스트(진행 종료 / 현재 진행중) */
.swiper_img::after {
  content: "진행 종료";
  position: absolute;
  bottom: 4%;
  left: 5%;
  text-align: center;
  padding: 8px 20px;
  border-radius: 40px;
  font-family: "Pretendard";
  color: var(--color--font--sub);
  background-color: #eee;
}
.ongoing .swiper_img::after {
  content: "현재 진행중";
  position: absolute;
  bottom: 4%;
  left: 5%;
  text-align: center;
  padding: 8px 20px;
  border-radius: 40px;
  font-family: "Pretendard";
  color: #fff;
  background-color: var(--color--main);
}

/* 앞뒤 슬라이드는 살짝 크게 (옵션) */
.earths_protector_swiper .swiper-slide-prev,
.earths_protector_swiper .swiper-slide-next {
  z-index: 5;
}

/* 반응형 */
@media (max-width: 1920px) {
  .earths_protector_swiper_mo {
    display: none !important;
  }
}
@media (max-width: 1280px) {
  .earths_protector_inner {
    width: 1200px !important;
  }
  .earths_protector_swiper_mo {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .earths_protector_inner {
    width: 680px !important;
  }
  .earths_protector_swiper {
    display: none !important;
  }
  .earths_protector_swiper_mo {
    display: block !important;
  }
}
@media (max-width: 390px) {
  .earths_protector_inner {
    width: 350px !important;
  }
  .earths_protector_swiper {
    display: none !important;
  }
  .earths_protector_swiper_mo {
    display: block !important;
  }
}
