@charset "utf-8";
.slogan {
  position: relative;
  overflow: hidden;
  height: 100vh;
  scroll-margin-top: 100px;
}
/* 이미지 */
.slogan_bg_imgs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
.slogan_1280px,
.slogan_768px,
.slogan_390px {
  display: none;
}
/* 텍스트 */
.slogan_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
}
.slogan_EN {
  text-align: center;
}
.slogan_EN span {
  font-family: "KkuBulLim";
  font-size: 100px;
  color: #fff;
}
.slogan_EN .top span {
  padding: 10px 30px;
  border-radius: 40px 0 40px 0;
  background-color: var(--color--main);
}
.slogan_EN .bottom {
  margin-top: 50px;
}
.slogan_EN .bottom span {
  padding: 10px 30px;
  border-radius: 40px 0 40px 0;
  background-color: var(--color--sub);
}
.slogan_KR {
  margin-top: 30px;
  text-align: center;
}
.slogan_KR p {
  display: inline-block;
  padding: 0 10px;
  font-family: "Pretendard";
  font-size: var(--text--heading--h1);
  font-weight: 600;
  background-color: #fff;
}

/* 반응형 */
@media (max-width: 1280px) {
  .slogan_1920px,
  .slogan_768px,
  .slogan_390px {
    display: none;
  }
  .slogan_1280px {
    display: block;
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* 이미지 */
  .slogan_1920px,
  .slogan_1280px,
  .slogan_390px {
    display: none;
  }
  .slogan_768px {
    display: block;
    width: 100%;
  }
  /* 텍스트 */
  .slogan_EN span {
    font-size: 50px;
  }
  .slogan_EN .bottom {
    margin-top: 50px;
  }
  .slogan_KR p {
    font-size: 23px;
  }
}
@media (max-width: 390px) {
  /* 이미지 */
  .slogan_1920px,
  .slogan_1280px,
  .slogan_768px {
    display: none;
  }
  .slogan_390px {
    display: block;
    width: 100%;
  }
  /* 텍스트 */
  .slogan_EN span {
    font-size: 30px;
  }
  .slogan_EN .bottom {
    margin-top: 40px;
  }
  .slogan_KR p {
    font-size: 18px;
  }
}
