@charset "utf-8";
/* 폰트 (나중에 메인에 추가) */
@font-face {
  font-family: "KkuBulLim";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/BMkkubulimTTF-Regular.woff2")
    format("woff2");
  font-display: swap;
}
/* .slogan {
  background: url("../image/slogan_bee.gif") no-repeat center / auto,
  url("../image/slogan_penguin1.gif") no-repeat right top / auto;
  background-size: 1000px, 650px;
} */
 .slogan{
  position: relative;
  overflow: hidden;
  height: 100vh;
 }
 /* 이미지 */
 .slogan_bg_imgs{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  /* pointer-events: none; */
 }
 .bg_img{
  position: absolute;
  width: 250px;
 }
/* .img_bee {
  top: 0px;
  left: 0px;
  width: 120px;
}
.img_dolphin1 {
  top: 0px;
  right: 0px;
  width: 200px;
}
.img_dolphin2 {
  bottom: 0px;
  right: 0px;
  width: 180px;
}
.img_flower1 {
  bottom: 0px;
  left: 0px;
  width: 150px;
}
.img_flower2 {
  top: 0px;
  left: 0px;
  width: 130px;
}
.img_panda {
  bottom: 0px;
  left: 0px;
  width: 200px;
}
.img_penguin1 {
  bottom: 0px;
  right: 0px;
  width: 160px;
}
.img_penguin2 {
  bottom: 0px;
  right: 0px;
  width: 140px;
}
.img_tiger {
  top: 0px;
  left: 0px;
  width: 220px;
}
.img_turtle {
  bottom: 0px;
  left: 0px;
  width: 150px;
}
.img_bear {
  top: 0px;
  right: 0px;
  width: 220px;
} */
 /* 텍스트 */
.slogan_wrap {
  position: relative;
  z-index: 1;
  padding: var(--spacing--large) 0;
  width: 100%;
}
.slogan_EN {
  padding-top: 220px;
  text-align: center;
}
.slogan_EN span {
  font-family: "KkuBulLim";
  font-size: 100px;
  color: #fff;
}
.slogan_EN .top span {
  padding: 10px 30px;
  border-radius: 40px 0 40px 0;
  background-color: var(--color--main);
}
.slogan_EN .bottom {
  margin-top: 50px;
}
.slogan_EN .bottom span {
  padding: 10px 30px;
  border-radius: 40px 0 40px 0;
  background-color: var(--color--sub);
}
.slogan_KR {
  padding-bottom: 170px;
  margin-top: 30px;
}
.slogan_KR p {
  font-family: "Pretendard";
  font-size: var(--text--heading--h1);
  font-weight: 600;
  text-align: center;
}
